h1 {
  text-align: center;
}

.inputsContainer {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    width: 25%;
    padding: 10px;
}

.item-endereco {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
}

.item-endereco label {
    margin-right: 20px;
    min-width: 80px;
}

.item-endereco input {
    background-color: #dfdfdf;
    text-align: left;
    padding: 5px;
    min-width: 200px;
    border: 1px solid #000;
}

a {
    text-decoration: none;
    color: #000;
    margin-top: 20px;
    cursor: pointer;
}
